.logo {
      width: 100px;
      height: 90px;
}
.div {
    margin-left: 150px;
    margin-top: -55px;
}
.searc1 {
    width: 367px;
    height: 34px;
    padding-left: 30px;
    padding-right: 100px;
}
.search {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 100%;
    margin-left: -4px;
    margin-top: -4px;
    margin-left: 155px;
    margin-top: -26px;
}
   
.search::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 8px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 10px;
    left: 12px
} 
.explore {
    color: #20B486;
    margin-left: 430px;
    margin-top: -17px;
}
.down {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    border: 2px solid;
    border-radius: 40px;
    width: 22px;
    height: 22px;
    margin-left: 485px;
    margin-top: -18px;
    color: #20B486;
}
   
.down::after,
.down::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    left: 6px;
    top: 3px;
    color: #20B486;
}
   
.down::after {
    top: 7px
} 
.navbar {
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
}
.apply {
    width: 164px;
    height: 40px;
    background-color: #20B486;
    color: white;
    align-items: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    margin-top: -10px;
    margin-right: 10px;
}
.about {
    margin-right: 40px;
    text-decoration: none;
    color: black;
}
.courses {
    margin-right: 40px;
    text-decoration: none;
    color: black;    text-decoration: none;
    color: black;
}
.contact {
    margin-right: 40px;
    text-decoration: none;
    color: black;
}
.faq {
    margin-right: 40px;
    text-decoration: none;
    color: black;
}
.home {
    margin-right: 40px;
    text-decoration: none;
    color: black;
}
.home:hover{
    color: green;
}
.contact:hover{
    color: green;
}
.faq:hover{
    color: green;
}
.apply:hover{
    color: green;
}
.about:hover{
    color: green;
}
.courses:hover{
    color: green;
}
.lol {
    font-size: 64px;
    margin-left: 30px;
    margin-top: 150px;
}
.highlight {
    color: #20B486;
}
.text {
    width: 487px;
    margin-left: 30px;
}
.applynow {
    width: 137px;
    height: 40px;
    border-radius: 8px;
    background-color: #20B486;
    color: white;
    border: none;
    margin-left: 30px;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    color: rgb(234, 234, 234);
}
.contactus {
    width: 137px;
    height: 40px;
    border-radius: 8px;
    background-color: #20B486;
    color: white;
    border: none;
    margin-left: 30px;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    color: rgb(234, 234, 234);
}

.i {
    margin-top: -490px;
    margin-left: -420px;
    width: 500px;
}
.land {
    margin-left: 50px;
}
.face {
    margin-left: 700px;
    margin-top: -380px;
}
.frames {
    display: flex;
    margin-left: 80px;
}
.frame1 {
    margin-right: 15px;
}
.frame2 {
    margin-right: 15px;
}
.frame3 {
    margin-right: 15px;
}
.collab {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.ser {
    color: #20B486;
}
.px {
    font-size: 36px;
    width: 650px;
}
.service {
    margin-top: 120px;
}
.tree1 {
    width: 373px;
    height: 263px;
    cursor: pointer;
    transition: .5s ease;
    border: 1px  solid #D8D8D8;
    border-radius: 20px;
}
.asd {
    margin-left: 60px;
    margin-top: 40px;
}
.asd1 {
    margin-left: 130px;
    margin-top: -40px;
}
.lesson {
    margin-left: 20px;
    margin-top: 18px;
}
.asd12 {
    margin-top: 30px;
}
.asd12 {
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: black;
    text-shadow: none;
    background: transparent;
    box-shadow: transparent;
    border: 1px solid black;
    transition: 0.5s ease;
    user-select: none;
    margin-top: 10px;
}
  
.tree2 {
    width: 373px;
    height: 263px;
    cursor: pointer;
    transition: .5s ease;
    border: 1px  solid #D8D8D8;
    border-radius: 20px;
}
.tree3 {
    width: 373px;
    height: 263px;
    cursor: pointer;
    transition: .5s ease;
    border: 1px  solid #D8D8D8;
    border-radius: 20px;
}
.tree {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.hero {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.tutors {
    color: #20B486;
}
.ability {
    width: 500px;
}
.teac1 {
    width: 276px;
    height: 340px;
    background-color: #1f4c65;
    border-radius: 10px;
}
.ll {
    margin-top: 20px;
}
.t1 {
    color:#20B486;
    width: 228px;
}
.content {
    width: 228px;
    color: #667085;
    margin-top: 20px;
}
.Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
}
  
.svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
}
  
.BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #24a1de;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
}
  
.Btn:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
}
  
.Btn:hover .svgContainer {
    border: 1px solid rgba(226, 226, 226, 0.466);
    background-color: #24a1de;
    backdrop-filter: blur(4px);
}
.Btn1 {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
}
  
.svgContainer1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all .3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
}
  
.BG1 {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    z-index: -1;
    border-radius: 9px;
    pointer-events: none;
    transition: all .3s;
}
  
.Btn1:hover .BG1 {
    transform: rotate(35deg);
    transform-origin: bottom;
}
  
.Btn1:hover .svgContainer1 {
    background-color: red;
}
.buttons1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.teac2 {
    width: 276px;
    height: 340px;
    background-color: #1f4c65;
    border-radius: 10px;
}
.teac3 {
    width: 276px;
    height: 340px;
    background-color: #1f4c65;
    border-radius: 10px;
}
.teac4 {
    width: 276px;
    height: 340px;
    background-color: #1f4c65;
    border-radius: 10px;
}
.teac {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.main12q {
    height: 584px;
    width: 100%;
    background-color: #667085;
    margin-top: 120px;
}
.lk {
    width: 120px;
    margin-top: 30px;
}
.bi {
    color: white;
    font-size: 50px;
}
.adf {
    color: white;
    margin-top: 80px;
}
.ff {
    color:#20B486;
}
.out {
    margin-top: 80px;
    margin-left: 30px;
}
.conts1 {
    width: 364px;
    height: 553px;
    border-radius: 10px;
}
.jk {
    margin-top: 10px;
}
.des {
    color: #20B486;
    font-size: 18px;
    margin-left: 20px;
}
.fis {
    margin-left: 20px;
}
.inter {
    margin-left: 20px;
    color: #667085;
}
.rates {
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}
.lol12 {
    width: 84px;
    margin-top: 20px;
    margin-left: 20px;
}
.lkk {
    display: flex;
}
.smart {
    margin-left: 100px;
    margin-top: -60px;
}
.conts1 {
    border: 1px solid #667085;
    transition: .8s ease;
}
.conts2 {
    border: 1px solid #667085;
    transition: .8s ease;
    width: 364px;
    height: 553px;
    border-radius: 10px;
}  
.conts3 {
    border: 1px solid #667085;
    transition: .8s ease;
    width: 364px;
    height: 553px;
    border-radius: 10px;
}  
.conts {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.footer {
    width: 100%;
    height: 497px;
    background-color: #101828;
    border-radius: 20px;
    margin-top: 120px;
}
.lopo {
    width: 120px;
    margin-left: 120px;
    margin-top: 60px;
}
.name {
    color: white;
    font-size: 40px;
    margin-left: 120px;
}
.rits {
    margin-top: 170px;
    color: white;
    margin-left: 120px;
}
.social {
    color: white;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    margin-left: 900px;
    margin-top: -200px;
}
.card {
    display: flex;
    height: 70px;
    width: 270px;
  }
  
  .card svg {
    position: absolute;
    display: flex;
    width: 60%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    cursor: pointer;
  }
  
  .card .social-link1,.card .social-link2,.card .social-link3,.card .social-link4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
  }
  
  .card svg {
    transform: scale(1);
  }
  
  .card .social-link1:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    animation: bounce_613 0.4s linear;
  }
  
  .card .social-link2:hover {
    background-color: #00ccff;
    animation: bounce_613 0.4s linear;
  }
  
  .card .social-link3:hover {
    background-color: #5865f2;
    animation: bounce_613 0.4s linear;
  }
  
  .card .social-link4:hover {
    background-color: #12a50b;
    animation: bounce_613 0.4s linear;
  }
  
  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
}
.hq1 {
    font-size: 55px;
    margin-top: 100px;
    margin-left: 50px;
    color: #1A906B;
}
.mainasd {
    font-size: 55px;
    width: 800px;
    margin-left: 50px;
    margin-top: 10px;
}
.mainasd span {
    color:#FF9B26;
}
.joinus {
    background-color: #22B286;
    width: 127px;
    height: 52px;
    border: none;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 20px;
    color: white;
}
.us {
    display: flex;
    flex-direction: column;
}
.laptop {
    width: 376px;
    align-self: flex-end;
    margin-top: -320px;
}
.sectionqw {
    margin-top: 200px;
    margin-left: 30px;
}

.featuer1 {
    display: flex;
}
.word {
    color: #22B286;
    margin-top: 200px;
    margin-left: 200px;
}
.word1 {
    display: flex;
    flex-direction: column;
}
.medium {
    font-size: 48px;
    width: 572px;
    margin-top: 230px;
    margin-left: -60px;
}
.random {
    width: 572px;
    margin-top: 600px;
    margin-left: -570px;
    margin-top: 480px;
}
.ourbenefit {
    color: #22B286;
    margin-top: 100px;
}
.buttw {
    margin-top: 10px;
    font-size: 48px;
    width: 774px;
}
.buttw span {
    color: #FF9B26;
}
.cust1 {
    width: 376px;
    height: 236px;
    border-radius: 10px;
    background-color: #F7FDF9;
}
.cust2 {
    width: 376px;
    height: 236px;
    border-radius: 10px;
    background-color: #F7FDF9;
}
.cust3 {
    width: 376px;
    height: 236px;
    border-radius: 10px;
    background-color: #F7FDF9;
}
.maan {
    color: #22B286;
    margin-left: 30px;
    margin-top: 10px;
}
.standard {
    margin-left: 30px;
}
.textword {
    width: 336px;
    margin-left: 30px;
}
.customize {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.customize2 {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.zxcv {
    font-size: 48px;
    margin-top: 140px;
    width: 680px;
    margin-left: 30px;
}
.jiol {
    display: flex;
}
.lkj {
    margin-top: 120px;
}
.adf12 {
    font-size: 58px;
    color: #22B286;
    margin-top: 120px;
}
.qwerty {
    margin-left: 5px;
}
.lesson122 {
    font-size: 30px;
    color: white;
    margin-left: 5px;
}
.lorem {
    color: white;
    margin-left: 5px;
    margin-top: 10px;
}
.buy {
    width: 157px;
    height: 52px;
    margin-top: 25px;
    margin-left: 5px;
    border: none;
    border-radius: 20px;
    background-color: #22B286;
}
.occur1 {
    width: 350px;
    height: 480px;
    background-color: #1f4c65;
    border-radius: 10px;
}
.occur2 {
    width: 350px;
    height: 480px;
    background-color: #1f4c65;
    border-radius: 10px;
}
.occur3 {
    width: 350px;
    height: 480px;
    background-color: #1f4c65;
    border-radius: 10px;
}
.occur4 {
    width: 350px;
    height: 480px;
    background-color: #1f4c65;
    border-radius: 10px;
}
.occur {
    display: flex;
    justify-content: space-around;
}
.occur5 {
    width: 350px;
    height: 480px;
    background-color: #1f4c65;
    border-radius: 10px;
}
.occur6 {
    width: 350px;
    height: 480px;
    background-color: #1f4c65;
    border-radius: 10px;
}
.q1 {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.occur7 {
    width: 350px;
    height: 480px;
    background-color: #1f4c65;
    border-radius: 10px;
}
.occur8 {
    width: 350px;
    height: 480px;
    background-color: #1f4c65;
    border-radius: 10px;
}
.occur9 {
    width: 350px;
    height: 480px;
    background-color: #1f4c65;
    border-radius: 10px;
}
.q2 {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.q3 {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.q4 {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.q5 {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.q6 {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.q7 {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.q8 {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.q9 {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.q10 {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}
.q11 {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.main-container {
    width: 1480px;
    margin: 0 auto;
}
/* animations */
.asd12{
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: 0.8em 1.3em 0.8em 0.9em;
  color: white;
  background: #ad5389;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 16px;
}
.tree1 {
    transition: 1.6s ease;
    height: 288px;
}
.tree2 {
    height: 288px;
    transition: 1.6s ease;
}
.tree3 {
    height: 288px;
    transition: 1.6s ease;
}
.tree1:hover{
    border: none;
    background: #e0e0e0;
    box-shadow:  20px 20px 46px #bebebe,
             -20px -20px 46px #ffffff;
}
.tree2:hover{
    border: none;
    background: #e0e0e0;
    box-shadow:  20px 20px 46px #bebebe,
             -20px -20px 46px #ffffff;
}
.tree3:hover{
    border: none;
    background: #e0e0e0;
    box-shadow:  20px 20px 46px #bebebe,
             -20px -20px 46px #ffffff;
}
.asd12 svg {
  margin-right: 3px;
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.asd12span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.asd12:hover svg {
  transform: translateX(5px) rotate(90deg);
}

.asd12:hover span {
  transform: translateX(7px);
}
/* Design Inspired by one of Stefan Devai's Design on Dribble */

/* Design Inspired by one of Stefan Devai's Design on Dribble */

.main_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30em;
  height: 30em;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}

.antenna {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #f27405;
  margin-bottom: -6em;
  margin-left: 0em;
  z-index: -1;
}
.antenna_shadow {
  position: absolute;
  background-color: transparent;
  width: 50px;
  height: 56px;
  margin-left: 1.68em;
  border-radius: 45%;
  transform: rotate(140deg);
  border: 4px solid transparent;
  box-shadow: inset 0px 16px #a85103, inset 0px 16px 1px 1px #a85103;
  -moz-box-shadow: inset 0px 16px #a85103, inset 0px 16px 1px 1px #a85103;
}
.antenna::after {
  content: "";
  position: absolute;
  margin-top: -9.4em;
  margin-left: 0.4em;
  transform: rotate(-25deg);
  width: 1em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f69e50;
}
.antenna::before {
  content: "";
  position: absolute;
  margin-top: 0.2em;
  margin-left: 1.25em;
  transform: rotate(-20deg);
  width: 1.5em;
  height: 0.8em;
  border-radius: 50%;
  background-color: #f69e50;
}
.a1 {
  position: relative;
  top: -102%;
  left: -130%;
  width: 12em;
  height: 5.5em;
  border-radius: 50px;
  background-image: linear-gradient(
    #171717,
    #171717,
    #353535,
    #353535,
    #171717
  );
  transform: rotate(-29deg);
  clip-path: polygon(50% 0%, 49% 100%, 52% 100%);
}
.a1d {
  position: relative;
  top: -211%;
  left: -35%;
  transform: rotate(45deg);
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #979797;
  z-index: 99;
}
.a2 {
  position: relative;
  top: -210%;
  left: -10%;
  width: 12em;
  height: 4em;
  border-radius: 50px;
  background-color: #171717;
  background-image: linear-gradient(
    #171717,
    #171717,
    #353535,
    #353535,
    #171717
  );
  margin-right: 5em;
  clip-path: polygon(
    47% 0,
    47% 0,
    34% 34%,
    54% 25%,
    32% 100%,
    29% 96%,
    49% 32%,
    30% 38%
  );
  transform: rotate(-8deg);
}
.a2d {
  position: relative;
  top: -294%;
  left: 94%;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #979797;
  z-index: 99;
}

.notfound_text {
  background-color: black;
  padding-left: 0.3em;
  padding-right: 0.3em;
  font-size: 0.75em;
  color: white;
  letter-spacing: 0;
  border-radius: 5px;
  z-index: 10;
}
.tv {
  width: 17em;
  height: 9em;
  margin-top: 3em;
  border-radius: 15px;
  background-color: #d36604;
  display: flex;
  justify-content: center;
  border: 2px solid #1d0e01;
  box-shadow: inset 0.2em 0.2em #e69635;
}
.tv::after {
  content: "";
  position: absolute;
  width: 17em;
  height: 9em;
  border-radius: 15px;
  background: repeating-radial-gradient(#d36604 0 0.0001%, #00000070 0 0.0002%)
      50% 0/2500px 2500px,
    repeating-conic-gradient(#d36604 0 0.0001%, #00000070 0 0.0002%) 60% 60%/2500px
      2500px;
  background-blend-mode: difference;
  opacity: 0.09;
}
.curve_svg {
  position: absolute;
  margin-top: 0.25em;
  margin-left: -0.25em;
  height: 12px;
  width: 12px;
}
.display_div {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 3.5px 3.5px 0px #e69635;
}
.screen_out {
  width: auto;
  height: auto;

  border-radius: 10px;
}
.screen_out1 {
  width: 11em;
  height: 7.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.screen {
  width: 13em;
  height: 7.85em;
  font-family: Montserrat;
  border: 2px solid #1d0e01;
  background: repeating-radial-gradient(#000 0 0.0001%, #ffffff 0 0.0002%) 50% 0/2500px
      2500px,
    repeating-conic-gradient(#000 0 0.0001%, #ffffff 0 0.0002%) 60% 60%/2500px
      2500px;
  background-blend-mode: difference;
  animation: b 0.2s infinite alternate;
  border-radius: 10px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #252525;
  letter-spacing: 0.15em;
  text-align: center;
}
@keyframes b {
  100% {
    background-position: 50% 0, 60% 50%;
  }
}

/* Another Error Screen to Use 

.screen {
  width: 13em;
  height: 7.85em;
  position: relative;
  background: linear-gradient(to right, #002fc6 0%, #002bb2 14.2857142857%, #3a3a3a 14.2857142857%, #303030 28.5714285714%, #ff0afe 28.5714285714%, #f500f4 42.8571428571%, #6c6c6c 42.8571428571%, #626262 57.1428571429%, #0affd9 57.1428571429%, #00f5ce 71.4285714286%, #3a3a3a 71.4285714286%, #303030 85.7142857143%, white 85.7142857143%, #fafafa 100%);
  border-radius: 10px;
  border: 2px solid black;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #252525;
  letter-spacing: 0.15em;
  text-align: center;
  overflow: hidden;
}
.screen:before, .screen:after {
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
}
.screen:before {
  top: 0;
  height: 68.4782608696%;
  background: linear-gradient(to right, white 0%, #fafafa 14.2857142857%, #ffe60a 14.2857142857%, #f5dc00 28.5714285714%, #0affd9 28.5714285714%, #00f5ce 42.8571428571%, #10ea00 42.8571428571%, #0ed600 57.1428571429%, #ff0afe 57.1428571429%, #f500f4 71.4285714286%, #ed0014 71.4285714286%, #d90012 85.7142857143%, #002fc6 85.7142857143%, #002bb2 100%);
}
.screen:after {
  bottom: 0;
  height: 21.7391304348%;
  background: linear-gradient(to right, #006c6b 0%, #005857 16.6666666667%, white 16.6666666667%, #fafafa 33.3333333333%, #001b75 33.3333333333%, #001761 50%, #6c6c6c 50%, #626262 66.6666666667%, #929292 66.6666666667%, #888888 83.3333333333%, #3a3a3a 83.3333333333%, #303030 100%);
}

  */

.lines {
  display: flex;
  column-gap: 0.1em;
  align-self: flex-end;
}
.line1,
.line3 {
  width: 2px;
  height: 0.5em;
  background-color: black;
  border-radius: 25px 25px 0px 0px;
  margin-top: 0.5em;
}
.line2 {
  flex-grow: 1;
  width: 2px;
  height: 1em;
  background-color: black;
  border-radius: 25px 25px 0px 0px;
}

.buttons_div {
  width: 4.25em;
  align-self: center;
  height: 8em;
  background-color: #e69635;
  border: 2px solid #1d0e01;
  padding: 0.6em;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 0.75em;
  box-shadow: 3px 3px 0px #e69635;
}
.b1 {
  width: 1.65em;
  height: 1.65em;
  border-radius: 50%;
  background-color: #7f5934;
  border: 2px solid black;
  box-shadow: inset 2px 2px 1px #b49577, -2px 0px #513721,
    -2px 0px 0px 1px black;
}
.b1::before {
  content: "";
  position: absolute;
  margin-top: 1em;
  margin-left: 0.5em;
  transform: rotate(47deg);
  border-radius: 5px;
  width: 0.1em;
  height: 0.4em;
  background-color: #000000;
}
.b1::after {
  content: "";
  position: absolute;
  margin-top: 0.9em;
  margin-left: 0.8em;
  transform: rotate(47deg);
  border-radius: 5px;
  width: 0.1em;
  height: 0.55em;
  background-color: #000000;
}
.b1 div {
  content: "";
  position: absolute;
  margin-top: -0.1em;
  margin-left: 0.65em;
  transform: rotate(45deg);
  width: 0.15em;
  height: 1.5em;
  background-color: #000000;
}
.b2 {
  width: 1.65em;
  height: 1.65em;
  border-radius: 50%;
  background-color: #7f5934;
  border: 2px solid black;
  box-shadow: inset 2px 2px 1px #b49577, -2px 0px #513721,
    -2px 0px 0px 1px black;
}
.b2::before {
  content: "";
  position: absolute;
  margin-top: 1.05em;
  margin-left: 0.8em;
  transform: rotate(-45deg);
  border-radius: 5px;
  width: 0.15em;
  height: 0.4em;
  background-color: #000000;
}
.b2::after {
  content: "";
  position: absolute;
  margin-top: -0.1em;
  margin-left: 0.65em;
  transform: rotate(-45deg);
  width: 0.15em;
  height: 1.5em;
  background-color: #000000;
}
.speakers {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}
.speakers .g1 {
  display: flex;
  column-gap: 0.25em;
}
.speakers .g1 .g11,
.g12,
.g13 {
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  background-color: #7f5934;
  border: 2px solid black;
  box-shadow: inset 1.25px 1.25px 1px #b49577;
}
.speakers .g {
  width: auto;
  height: 2px;
  background-color: #171717;
}

.bottom {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8.7em;
}
.base1 {
  height: 1em;
  width: 2em;
  border: 2px solid #171717;
  background-color: #4d4d4d;
  margin-top: -0.15em;
  z-index: -1;
}
.base2 {
  height: 1em;
  width: 2em;
  border: 2px solid #171717;
  background-color: #4d4d4d;
  margin-top: -0.15em;
  z-index: -1;
}
.base3 {
  position: absolute;
  height: 0.15em;
  width: 17.5em;
  background-color: #171717;
  margin-top: 0.8em;
}

.text_404 {
  position: absolute;
  display: flex;
  flex-direction: row;
  column-gap: 6em;
  z-index: -5;
  margin-bottom: 2em;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  font-family: Montserrat;
}
.text_4041 {
  transform: scaleY(24.5) scaleX(9);
}
.text_4042 {
  transform: scaleY(24.5) scaleX(9);
}
.text_4043 {
  transform: scaleY(24.5) scaleX(9);
}
.mainest {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}